html,body{
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1B314B;
    overflow-x: hidden;
    min-width: 320px;
}
.main{
    flex: 1 0 auto;

}
.footer{
    flex: 0 0 auto;
    
}
.container{
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid{
    max-width: 1920px;
    padding: 0 10px;
    margin: 0 auto;
}
